@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;500;700&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.App {
  text-align: center;
}
.container {
  width: 560px;
}

@media (min-width: 992px) {
  .container {
    max-width: 560px !important;
  }
}

/* calendar start*/
.react-calendar {
  margin: 30px auto;
}
.react-calendar__tile--hasActive {
  background: #fff !important;
  position: relative;
}
.react-calendar__tile--hasActive :after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #0d6efd;
  left: 50%;
  transform: translateX(-50%);
}

/* calendar end */
.container.list-wrap {
  width: 450px;
}
.container.list-wrap .submit_btn {
  background: #f3fdd6;
}
.container.list-wrap .submit_btn:hover {
  background: #efffbf;
}
.container.list-wrap .submit_btn:focus {
  background: #f3ffce;
  border: 1px solid #c5d2a2;
}

.time-picker-list {
  display: flex;
}

.hidden {
  display: none;
}

.form-control.edit-input {
  height: 31px;
  margin-right: 96px;
}

.list-ul > div {
  height: 36px;
  margin-bottom: 4px;
}

.btns {
  border: none;
  background: none;
  color: #a1a1a1;
  font-size: 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.edit-btn:hover {
  background: #ebf4ff;
  color: #6c9ced;
}

.del-btn:hover {
  background: #ffeeeb;
  color: #f58f7d;
}

/* .form-check-input:checked[type="checkbox"] {
  --bs-form-check-bg-image: url(
    data:image/svg + xml,
    %3Csvgxmlns="http://www.w3.org/2000/svg"class="icon icon-tabler icon-tabler-check"width="24"height="24"viewBox="0 0 24 24"stroke-width="2"stroke="currentColor"fill="none"stroke-linecap="round"stroke-linejoin="round"%3E%3Cpathstroke="none"d="M0 0h24v24H0z"fill="none"/%3E%3Cpathd="M5 12l5 5l10 -10"/%3E%3C/svg%3E
  ) !important;
} */

.form-check-input {
  width: 36px;
  height: 36px;
}

.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.form-check-input[type="checkbox"] {
  border-radius: 50% !important;
}

.list-ul label {
  position: relative;
  width: 300px;
  display: inline-block;
  text-align: left;
}
.d-day {
  position: absolute;
  right: 0;
  display: inline-block;
  text-align: center;
  font-size: 13px;
}
.d-day span {
  color: #767676;
  width: 50px;
  display: inline-block;
  text-align: center;
}

.d-day span:last-child {
  background-color: #fffeef;
  border-radius: 3px;
}

/* weekly */
.weekly-wrap {
  display: inline-flex;
  justify-content: center;
  position: relative;
}
.daylist {
  margin: 0 5px;
  padding: 15px 20px;
  border-radius: 40px;
  transition: 0.3s;
}
.weak {
  margin-bottom: 20px;
  font-size: 14px;
}

.Sat {
  color: rgb(64, 82, 129);
}
.Sun {
  color: red;
}
.daylist.today {
  border: 1px solid #22486184;
}
.daylist:hover {
  background: #224861;
  color: #ebf4ff;
}
.daylist:hover .Sat {
  color: #ebf4ff;
}
.daylist:hover .Sun {
  color: #ff6363;
}

.week-btns {
  /* position: absolute; */
  top: 50%;
}
.week-btns button {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #22486184;
}
.prev {
  left: -50px;
}
.next {
  right: -50px;
}

.calendarChange {
  font-size: 14px;
  gap: 5px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.calendarChange svg {
  width: 20px;
  height: 20px;
}
